<template>
	<div class="expire-time-displayer">
		{{ timeString }}
	</div>
</template>

<script lang="ts">
import { computed, defineComponent, onUnmounted, ref } from 'vue';

import { resetPassword as resetPasswordContexts } from '@/contexts/index';

import { getTimeString } from '../../service/logic';

export default defineComponent({
	name: 'expire-time-displayer',

	setup() {
		const { expireTime } = resetPasswordContexts.useExpireTime();
		const currentTime = ref(Date.now());
		const remainTime = computed(() => {
			const remainTime = expireTime.value - currentTime.value;

			return remainTime > 0 ? remainTime : 0;
		});

		const timeString = computed(() => getTimeString(remainTime.value));

		const timerForcurrentTime = setInterval(() => {
			currentTime.value = Date.now();
		}, 1000);

		onUnmounted(() => {
			clearInterval(timerForcurrentTime);
		});

		return {
			timeString,
		};
	},
});
</script>

<style lang="scss" scoped>
.expire-time-displayer {
	margin: 0 0 20px;

	font-size: 20px;
	text-align: center;
	font-weight: bold;
}
</style>
