<template>
	<content-wrapper class="form-template">
		<form-info />
		<password-form />
	</content-wrapper>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

import ContentWrapper from '@/components/common/components/atoms/content-wrapper.vue';
import FormInfo from '../molecules/form-info.vue';
import PasswordForm from '../molecules/password-form.vue';

export default defineComponent({
	name: 'form-template',

	components: {
		ContentWrapper,
		FormInfo,
		PasswordForm,
	},
});
</script>

<style lang="scss" scoped>
.form-template {
	width: 500px;
}
</style>
