<template>
	<form-header
		title="새 비밀번호 입력"
		description="회원님이 새로 사용하실 비밀번호를 입력해주세요."
		class="form-info"
	/>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

import FormHeader from '@/components/common/components/molecules/form-header.vue';

export default defineComponent({
	name: 'form-info',

	components: {
		FormHeader,
	},
});
</script>
