<template>
	<form class="token-form" @submit.prevent="onSubmit">
		<common-input
			v-model="password"
			type="password"
			placeholder="비밀번호"
			class="password-input"
		/>
		<common-input
			v-model="passwordConfirm"
			type="password"
			placeholder="비밀번호 확인"
			class="password-input"
		/>
		<common-button>비밀번호 수정</common-button>
	</form>
</template>

<script lang="ts">
import { computed, defineComponent, ref } from 'vue';
import { useRouter } from 'vue-router';

import CommonInput from '@/components/common/components/atoms/common-input.vue';
import CommonButton from '@/components/common/components/atoms/common-button.vue';

import { resetPassword as resetPasswordContexts } from '@/contexts/index';
import { validateForm } from '../../service/logic';

export default defineComponent({
	name: 'token-form',

	components: {
		CommonInput,
		CommonButton,
	},

	setup() {
		const router = useRouter();

		const password = ref('');
		const passwordConfirm = ref('');

		const { resetPassword } = resetPasswordContexts.useResetPassword();

		const onSubmit = async () => {
			if (!validateForm(password.value, passwordConfirm.value)) {
				alert('비밀번호를 입력해주세요.');
				return;
			}

			await resetPassword(password.value, passwordConfirm.value);
			router.push({ name: 'pageLogin' });
		};

		return {
			password,
			passwordConfirm,
			onSubmit,
		};
	},
});
</script>

<style lang="scss" scoped>
.password-input {
	margin: 0 0 10px;
}
</style>
