<template>
	<div class="form-header">
		<h2 class="text title">{{ title }}</h2>
		<p class="text description">{{ description }}</p>
	</div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'form-header',

	props: {
		title: {
			type: String,
			required: true,
		},

		description: {
			type: String,
			required: true,
		},
	},
});
</script>

<style lang="scss" scoped>
.form-header {
	margin: 0 0 20px;
}
.text {
	text-align: center;
}

.title {
	margin: 0 0 10px;
}
</style>
