<template>
	<content-wrapper class="user-info-card">
		<div class="wrapper">
			<template v-if="isLoaded">
				<user-image />
				<user-profile />
			</template>
			<logout-button />
		</div>
	</content-wrapper>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

import ContentWrapper from '@/components/common/components/atoms/content-wrapper.vue';
import { userInfo as userInfoContext } from '@/contexts';
import UserImage from '../atoms/user-image.vue';
import UserProfile from '../atoms/user-profile.vue';
import LogoutButton from '../atoms/logout-button.vue';

export default defineComponent({
	name: 'user-info-card',

	components: {
		ContentWrapper,
		UserImage,
		UserProfile,
		LogoutButton,
	},

	setup() {
		const { isLoaded } = userInfoContext.useUserInfo();

		return {
			isLoaded,
		};
	},
});
</script>

<style lang="scss" scoped>
.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;

	width: 500px;
}
</style>
