<template>
	<form-header title="로그인" description="이메일과 비밀번호를 입력해주세요." class="form-info" />
</template>

<script lang="ts">
import { defineComponent } from 'vue';

import FormHeader from '@/components/common/components/molecules/form-header.vue';

export default defineComponent({
	name: 'form-info',

	components: {
		FormHeader,
	},
});
</script>
