<template>
	<form class="login-form" @submit.prevent="onSubmit">
		<common-input v-model="email" type="email" placeholder="이메일" class="login-input" />
		<common-input v-model="password" type="password" placeholder="패스워드" class="login-input" />
		<div class="button-wrapper">
			<router-link :to="{ name: 'resetPassword' }" class="reset-password-link">
				비밀번호 재설정
			</router-link>
			<common-button>로그인</common-button>
		</div>
	</form>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue';
import { useRouter } from 'vue-router';

import CommonInput from '@/components/common/components/atoms/common-input.vue';
import CommonButton from '@/components/common/components/atoms/common-button.vue';

import { login as loginContext } from '@/contexts';

import { validateForm } from '../../service/logic';

export default defineComponent({
	name: 'login-form',

	components: {
		CommonInput,
		CommonButton,
	},

	setup() {
		const router = useRouter();

		const email = ref('');
		const password = ref('');

		const { login } = loginContext.useLogin();

		const onSubmit = async () => {
			if (!validateForm(email.value, password.value)) {
				alert('이메일 혹은 비밀번호를 입력해주세요.');
				return;
			}

			await login(email.value, password.value);
			router.push({ name: 'userInfo' });
		};

		return {
			email,
			password,
			onSubmit,
		};
	},
});
</script>

<style lang="scss" scoped>
.login-input {
	margin: 0 0 10px;
}

.button-wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 10px;
}

.reset-password-link {
	display: block;
	height: 30px;
	border-radius: 5px;
	border: 1px solid rgba(0, 0, 0, 0.1);

	background-color: #ffa2a2;

	font-size: 13.3333px;
	text-align: center;
	line-height: 28px;
}
</style>
