<template>
	<common-button @click="onClickButton">로그아웃</common-button>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import { useRouter } from 'vue-router';

import CommonButton from '@/components/common/components/atoms/common-button.vue';

import { login as loginContext } from '@/contexts';

export default defineComponent({
	name: 'logout-button',

	components: {
		CommonButton,
	},

	setup() {
		const router = useRouter();
		const { logout } = loginContext.useLogout();

		const onClickButton = async () => {
			await logout();
			router.push({ name: 'pageLogin' });
		};

		return {
			onClickButton,
		};
	},
});
</script>
