<template>
	<div class="user-profile">
		<div class="text">이름: {{ name }}</div>
		<div class="text">이메일: {{ email }}</div>
		<div class="text">마지막 접속일자: {{ lastConnectedAtString }}</div>
	</div>
</template>

<script lang="ts">
import { computed, defineComponent } from 'vue';

import { userInfo as userInfoContext } from '@/contexts';

import { getDateString } from '../../service/logic';

export default defineComponent({
	name: 'user-profile',

	setup() {
		const { name, email, lastConnectedAt } = userInfoContext.useUserInfo();
		const lastConnectedAtString = computed(() => getDateString(lastConnectedAt.value));

		return {
			name,
			email,
			lastConnectedAtString,
		};
	},
});
</script>

<style lang="scss" scoped>
.user-profile {
	margin: 0 0 10px;
}

.text {
	margin: 0 0 10px;
}
</style>
