<template>
	<img :src="profileImage" class="user-image" />
</template>

<script lang="ts">
import { defineComponent } from 'vue';

import { userInfo as userInfoContext } from '@/contexts';

export default defineComponent({
	name: 'user-image',

	setup() {
		const { profileImage } = userInfoContext.useUserInfo();

		return {
			profileImage,
		};
	},
});
</script>

<style lang="scss" scoped>
.user-image {
	margin: 0 0 10px;
}
</style>
