<template>
	<form-template class="page-login" />
</template>

<script lang="ts">
import { defineComponent } from 'vue';

import FormTemplate from '@/components/login/components/templates/form-template.vue';

export default defineComponent({
	name: 'page-login',

	components: {
		FormTemplate,
	},
});
</script>
