<template>
	<view-wrapper class="reset-password">
		<router-view />
	</view-wrapper>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import ViewWrapper from '@/components/common/components/atoms/view-wrapper.vue';

export default defineComponent({
	name: 'reset-password',

	components: { ViewWrapper },

	setup() {
		return {};
	},
});
</script>
