<template>
	<form-template class="reset-password-form" />
</template>

<script lang="ts">
import { defineComponent } from 'vue';

import FormTemplate from '@/components/reset-password/subPages/reset-password-form/components/templates/form-template.vue';

export default defineComponent({
	name: 'reset-password-form',

	components: {
		FormTemplate,
	},
});
</script>
