<template>
	<form-template class="reset-password-request-code" />
</template>

<script lang="ts">
import { defineComponent } from 'vue';

import FormTemplate from '@/components/reset-password/subPages/reset-password-request-code/components/templates/form-template.vue';

export default defineComponent({
	name: 'reset-password-request-code',

	components: {
		FormTemplate,
	},
});
</script>
