<template>
	<user-info-card class="user-info" />
</template>

<script lang="ts">
import { defineComponent, onMounted } from 'vue';
import { useRouter } from 'vue-router';

import UserInfoCard from '@/components/user-info/components/templates/user-info-card.vue';

import { userInfo as userInfoContext } from '@/contexts';

export default defineComponent({
	name: 'user-info',

	components: {
		UserInfoCard,
	},

	setup() {
		const router = useRouter();

		const { getUserInfo } = userInfoContext.useGetUserInfo();

		onMounted(async () => {
			try {
				await getUserInfo();
			} catch {
				router.push({ name: 'pageLogin' });
			}
		});

		return {};
	},
});
</script>
