<template>
	<div class="common-input">
		<input
			:type="type"
			:value="modelValue"
			:placeholder="placeholder"
			class="input"
			@input="$emit('update:model-value', $event.target.value)"
		/>
	</div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'common-input',

	props: {
		type: {
			type: String,
			default: 'text',
		},

		placeholder: {
			type: String,
			default: '',
		},

		modelValue: {
			type: String,
			required: true,
		},
	},

	emits: {
		'update:model-value': (value: string) => typeof value === 'string',
	},
});
</script>

<style lang="scss" scoped>
.input {
	width: 100%;
	outline: none;
	padding: 5px 10px;
}
</style>
