<template>
	<button v-bind="$attrs" class="common-button">
		<slot />
	</button>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'common-button',
});
</script>

<style lang="scss" scoped>
.common-button {
	width: 100%;
	height: 30px;
	border-radius: 5px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	outline: 0;

	background-color: #ffdda3;

	cursor: pointer;

	&:disabled {
		background-color: #aaa;
		color: #fff;

		cursor: auto;
		pointer-events: none;
	}

	&:focus,
	&:active {
		background-color: #f1ca88;
	}
}
</style>
