<template>
	<div class="content-wrapper">
		<div class="wrapper-card">
			<slot />
		</div>
	</div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'content-wrapper',
});
</script>

<style lang="scss" scoped>
.content-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;

	min-height: 100%;
}

.wrapper-card {
	width: 100%;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #aaa;

	background-color: #fff;
}
</style>
