<template>
	<div v-if="serverErrorMessage" class="server-error-message" @click="removeServerErrorMessage">
		{{ serverErrorMessage }}
	</div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

import { network as networkContext } from '@/contexts';

export default defineComponent({
	name: 'server-error-message',

	setup() {
		const { serverErrorMessage, removeServerErrorMessage } = networkContext.useServerErrorMessage();

		return {
			serverErrorMessage,
			removeServerErrorMessage,
		};
	},
});
</script>

<style lang="scss" scoped>
.server-error-message {
	padding: 10px 0;
	border-radius: 5px;
	border: 1px solid rgba(255, 255, 255, 0.5);

	background-color: #3e3e3e;

	position: fixed;
	left: 20px;
	right: 20px;
	bottom: 20px;

	color: #fff;
	text-align: center;

	cursor: pointer;
}
</style>
