<template>
	<div class="view-wrapper">
		<slot />
	</div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'view-wrapper',
});
</script>

<style lang="scss" scoped>
.view-wrapper {
	display: flex;
	min-height: 100%;
	justify-content: center;
	align-items: center;
}
</style>
