<template>
	<content-wrapper class="form-template">
		<form-info />
		<expire-time-displayer />
		<code-form />
	</content-wrapper>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

import ContentWrapper from '@/components/common/components/atoms/content-wrapper.vue';
import FormInfo from '../molecules/form-info.vue';
import ExpireTimeDisplayer from '../atoms/expire-time-displayer.vue';
import CodeForm from '../molecules/code-form.vue';

export default defineComponent({
	name: 'form-template',

	components: {
		ContentWrapper,
		FormInfo,
		ExpireTimeDisplayer,
		CodeForm,
	},
});
</script>

<style lang="scss" scoped>
.form-template {
	width: 500px;
}
</style>
