<template>
	<form class="token-form" @submit.prevent="onSubmit">
		<common-input v-model="authCode" type="text" placeholder="인증 코드" class="code-input" />
		<common-button>다음</common-button>
	</form>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue';
import { useRouter } from 'vue-router';

import CommonInput from '@/components/common/components/atoms/common-input.vue';
import CommonButton from '@/components/common/components/atoms/common-button.vue';

import { resetPassword as resetPasswordContexts } from '@/contexts/index';

import { validateCode } from '../../service/logic';

export default defineComponent({
	name: 'token-form',

	components: {
		CommonInput,
		CommonButton,
	},

	setup() {
		const router = useRouter();

		const authCode = ref('');

		const { validateAuthCode } = resetPasswordContexts.useValidateAuthCode();

		const onSubmit = async () => {
			if (!validateCode(authCode.value)) {
				alert('코드를 입력해주세요.');
				return;
			}

			await validateAuthCode(authCode.value);
			router.push({ name: 'passwordForm' });
		};

		return {
			authCode,
			onSubmit,
		};
	},
});
</script>

<style lang="scss" scoped>
.code-input {
	margin: 0 0 10px;
}
</style>
