<template>
	<form-header
		title="인증 코드 입력"
		description="회원님의 이메일로 받으신 인증코드를 입력해주세요."
		class="form-info"
	/>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

import FormHeader from '@/components/common/components/molecules/form-header.vue';

export default defineComponent({
	name: 'form-info',

	components: {
		FormHeader,
	},
});
</script>
