<template>
	<form class="email-form" @submit.prevent="onSubmit">
		<common-input v-model="email" type="email" placeholder="이메일" class="email-input" />
		<common-button>다음</common-button>
	</form>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue';
import { useRouter } from 'vue-router';

import CommonInput from '@/components/common/components/atoms/common-input.vue';
import CommonButton from '@/components/common/components/atoms/common-button.vue';

import { resetPassword as resetPasswordContexts } from '@/contexts/index';

import { validateEmail } from '@/logic';

export default defineComponent({
	name: 'email-form',

	components: {
		CommonInput,
		CommonButton,
	},

	setup() {
		const router = useRouter();

		const email = ref('');

		const { requestAuthCode } = resetPasswordContexts.useRequestAuthCode();

		const onSubmit = async () => {
			if (!validateEmail(email.value)) {
				alert('이메일을 입력해주세요.');
				return;
			}

			await requestAuthCode(email.value);
			router.push({ name: 'validateAuthCode' });
		};

		return {
			email,
			onSubmit,
		};
	},
});
</script>

<style lang="scss" scoped>
.email-input {
	margin: 0 0 10px;
}
</style>
