<template>
	<form-header
		title="인증 토큰 요청"
		description="회원님의 이메일을 입력해주세요."
		class="form-info"
	/>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

import FormHeader from '@/components/common/components/molecules/form-header.vue';

export default defineComponent({
	name: 'form-info',

	components: {
		FormHeader,
	},
});
</script>
