<template>
	<div id="app">
		<router-view />
		<server-error-message />
	</div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

import ServerErrorMessage from '@/components/common/components/atoms/server-error-message.vue';

export default defineComponent({
	name: 'app',

	components: {
		ServerErrorMessage,
	},
});
</script>
<style lang="scss">
#app {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;

	background-color: #f7f6f3;
}
</style>
